.icon{
    width:100%;
    height:400rpx;
    background:#dfe5ee;
   display: flex;
   align-items: center;
   justify-content: center;
   .con{
       padding:30rpx;
       box-sizing: border-box;
       background: #fff;
       border-radius: 50%;
    .img{
        width:100rpx;
        height:100rpx;
    }
   }
}
.right{
    width:50rpx;
    height:50rpx;
}
.li{
    width:100%;
    height:100rpx;
    border-bottom: 1rpx solid #eee;
    display: flex;
    justify-content: space-between;
    padding:0 30rpx;
    box-sizing: border-box;
    align-items: center;
}